In [ ]:
# 1st problem

from math import degrees, atan2

AB = float(input())
BC = float(input())

MBC = round(degrees(atan2(AB, BC)))
print((str(MBC)), chr(176), sep='')

10
10
45Â°

In [ ]:
# 2nd problem

for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(((10**i - 1)//9)**2)

5
1
121
12321
1234321
123454321

In [1]:
# 3rd problem

print('{0}\n{1}\n({0}, {1})'.format(*divmod(int(input()), int(input()))))

177
10
17
7
(17, 7)

In [2]:
# 4th problem 

a,b,m = [int(input()) for _ in '123']
print(pow(a,b),pow(a,b,m),sep='\n')

3
4
5
81
1

In [1]:
# 5th problem


a,b,c,d = (int(input()) for _ in range(4))
print (pow(a,b)+pow(c,d))

9
29
7
27
4710194409608608369201743232

In [2]:
# 6th problem

for i in range(1,int(input())): #More than 2 lines will result in 0 score. Do not leave a blank line also
   print((pow(10,i)//9)*i)

5
1
22
333
4444